<!DOCTYPE html>
<html lang="en">
<head>
  <title>MusicSearch</title>
  <meta charset="utf-8">


<link rel="stylesheet" href="css/bootstrap.min.css">

<script src="js/bootstrap.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>

<div class="container">
  <h1>MusicSearch</h1>
  <p>Search the music</p> 
  </br>
  <div class="row">
    <div class="col-xs-8">
      <div class="form-group">
        <input type="email" class="form-control" id="email">
      </div>  
    </div>
    <div class="col-xs-4">
       <button type="submit" class="btn btn-default">Search</button>
    </div>
  </div>

  <div class="row">

  <h1>Artists</h1>
  </br>
    <div class="col-sm-3">
     <img src="coldplay.jpg" class="img-rounded" alt="Cinque Terre" width="182" height="138">
     <h3>Coldplay</h3>
     </br>
    </div>
    <div class="col-sm-3">
      <img src="coldplay.jpg" class="img-rounded" alt="Cinque Terre" width="182" height="138">
      <h3>Coldplay</h3>
      </br>
    </div>
    <div class="col-sm-3">
      <img src="coldplay.jpg" class="img-rounded" alt="Cinque Terre" width="182" height="138">
      <h3>Coldplay</h3>
      </br>
    </div>
    <div class="col-sm-3">
     <img src="coldplay.jpg" class="img-rounded" alt="Cinque Terre" width="182" height="138">
     <h3>Coldplay</h3>
     </br>
    </div>
  </div>


  <h1>Albums</h1>
  </br>
    <div class="col-sm-3">
     <img src="coldplay.jpg" class="img-rounded" alt="Cinque Terre" width="182" height="138">
     <h3>Ghost stories</h3>
     </br>
    </div>
    <div class="col-sm-3" >
      <img src="coldplay.jpg" class="img-rounded" alt="Cinque Terre" width="182" height="138">
     <h3>Ghost stories</h3>
      </br>
    </div>
    <div class="col-sm-3">
      <img src="coldplay.jpg" class="img-rounded" alt="Cinque Terre" width="182" height="138">
     <h3>Ghost stories</h3>
      </br>
    </div>
    <div class="col-sm-3">
     <img src="coldplay.jpg" class="img-rounded" alt="Cinque Terre" width="182" height="138">
     <h3>Ghost stories</h3>
     </br>
    </div>
  


  <h1>Albums</h1>
  </br>
    <div class="col-sm-3">
     <img src="coldplay.jpg" class="img-rounded" alt="Cinque Terre" width="182" height="138">
     <h3>Paradise</h3>
     </br>
    </div>
    <div class="col-sm-3" >
      <img src="coldplay.jpg" class="img-rounded" alt="Cinque Terre" width="182" height="138">
     <h3>Paradise</h3>
      </br>
    </div>
    <div class="col-sm-3">
      <img src="coldplay.jpg" class="img-rounded" alt="Cinque Terre" width="182" height="138">
     <h3>Paradise</h3>
      </br>
    </div>
    <div class="col-sm-3">
     <img src="coldplay.jpg" class="img-rounded" alt="Cinque Terre" width="182" height="138">
     <h3>Paradise</h3>
     </br>
    </div>
  </div>


</div>


</body>
</html>