<!DOCTYPE html>
<html lang="en">
<head>
  <title>MusicSearch</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <nav class="navbar navbar-inverse" >
  <a class="navbar-brand" href="/">MusicSearch</a>
  </nav>



</head>
<body>



<form role="form" action="/search/" method="post">



<div class="container" style="padding-top:60px">
 
  <div class="row">
    <div class="col-xs-8">
      <div class="form-group">
        <input type="text" class="form-control" name="search_key">
        <h3><center><strong><i>"Search anything related to music"</i></strong></center></h3>
      </div>  
    </div>
    <div class="col-xs-4">
       <button type="submit" class="btn btn-default" name="search">Search</button>
    </div>
  </div>

  </form>



  

</div>


</body>
</html>